APP_NAME="Dating Apps API"
APP_ENV="development"

DB_HOST="localhost"
DB_PORT="5432"
DB_USER=""
DB_PASSWORD=""
DB_NAME=""

DB_GORM_CONNECTION="host=${DB_HOST} user='${DB_USER}' password='${DB_PASSWORD}' dbname='${DB_NAME}' port=${DB_PORT} sslmode=disable TimeZone=Asia/Makassar"
DB_MIGRATION_CONNECTION="postgresql://${DB_USER}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_NAME}?sslmode=disable&TimeZone=Asia/Makassar"
DB_SEEDER_CONNECTION="postgresql://${DB_USER}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_NAME}?sslmode=disable&TimeZone=Asia/Makassar&x-migrations-table=schema_seeders"